[Desktop Entry]
Version=1.0
Exec=/home/open3d_demo/open3d_demo_ws/src/open3d_demo/bash/start_capture.bash
Name=Start Capture
GenericName=Start Capture
Comment=Start Capture
Encoding=UTF-8
Terminal=false
Type=Application
Categories=Application;Network;
